<div class="container py-3">
  <h2 class="text-center">About Todos</h2>
  <p class="my-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ad aspernatur sint iure culpa dolorem natus,
    quia
    magnam eaque architecto dignissimos quibusdam? Fugiat sint, consequuntur culpa ab dolor blanditiis facilis aliquid
    sunt rem eum magnam? Iusto temporibus repellat in earum unde est nihil excepturi eius, voluptate autem repudiandae
    quae nulla ea rem placeat voluptates exercitationem odit! Quibusdam vero laudantium ullam, tempore impedit,
    provident
    quae harum quo est quia at esse aliquam libero. Molestiae ipsa sapiente, hic iusto expedita dolores possimus maiores
    natus reiciendis odit harum eveniet a beatae at? Rerum laboriosam impedit odit corrupti, labore atque similique
    laudantium at error.
  </p>
</div>